body {
    background-color: rgba(92, 204, 58, 0.158)
}

.box {
    width: 300px;
    height: 401px;
    background-color: rgb(12 10 10 / 85%);
    text-align: center;
    position: relative;
    left: 475px;
    top: 100px;
    box-shadow: 5px 10px black;
    border-radius: 10px;

}


#d {
    margin-top: 55px;
    padding: 15px;
    margin-left: 5px;
    box-shadow: 5px 5px black;
    background-color: rgba(164, 175, 65, 0.623);

}



.click1 {
    background-color: rgb(211, 211, 212);
    width: 32px;
    margin-left: 15px;
    height: 32px;
    color: black;
    position: relative;
    right: 5px;
    box-shadow: 5px 5px black;
    border-radius: 20px;

}

.click2 {
    background-color: #1e29ff63;
    width: 32px;
    margin-left: 15px;
    height: 40px;
    color: black;
    position: relative;
    right: 5px;
    box-shadow: 5px 5px black
}
.click3 {
    background-color: #e7090980;
    width: 45px;
    margin-left: 2px;
    height: 40px;
    color: black;
    position: relative;
    right: -8px;
    box-shadow: 5px 5px black
}
